section {
    width:60%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black
}
img {
    max-width:100px;
}

.neutral {
    background-color: lightyellow
}

.positive {
    background-color: lightgreen
}

.negative {
    background-color: lightsalmon
}